<robloxConfigurationProvider isDatabaseWritable="False">
  <groups>
    <!-- Local default group: do not use remote service; fall back to file-based settings -->
    <group serviceEndpoint="" useService="False" groupName="*" />
    <!-- Insert group configurations here (In your own application config) -->
    <!-- group serviceEndpoint="http://configuration.service.simulprod.com/" useService="True" groupName="*"/ -->
  </groups>
</robloxConfigurationProvider>