<?xml version="1.0" encoding="utf-8"?>
<Roblox.WebsiteSettings.Properties.GameLaunch>
  <setting name="IsGameJoinEnabled" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForRequestGameEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForRequestGameJobEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForRequestPrivateGameEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForRequestFollowUserEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForCloudEditEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForRequestPlayWithPartyEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="IsGameJoinRequestProcessorForPlayTogetherGameEnabledForSoothsayers" serializeAs="String">
    <value>True</value>
  </setting>
</Roblox.WebsiteSettings.Properties.GameLaunch>
